File import: References

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# pd.set_option('display.max_columns', None)

path = "C:/Users/kleinow/ownCloud/!PROJECT EVOLGATH/Evolgath/updated_sql_search"

df names indicating the  queried keywords and where they had been found ( no addition = in citing paper's keywords, _ab = in citing paper's abstract, _titles = in citing paper's titles)

In [7]:
refs_emcoop = pd.read_csv(path + "/" + "refs_emcoop.csv")
refs_emcoop_ab = pd.read_csv(path + "/" + "refs_emcoop_ab.csv")
refs_emcoop_titles = pd.read_csv(path + "/" + "refs_emcoop_titles.csv")
refs_evolcoop = pd.read_csv(path + "/" + "refs_evolcoop.csv")
refs_evolcoop_ab = pd.read_csv(path + "/" + "refs_evolcoop_ab.csv")
refs_evolcoop_titles = pd.read_csv(path + "/" + "refs_evolcoop_titles.csv")
refs_evolgath = pd.read_csv(path + "/" + "refs_evolgath.csv")
refs_evolgath_ab = pd.read_csv(path + "/" + "refs_evolgath_ab.csv")
refs_evolgath_titles = pd.read_csv(path + "/" + "refs_evolgath_titles.csv")

C:\Users\kleinow\AppData\Local\Temp\ipykernel_16656\624343010.py:7: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  refs_evolgath = pd.read_csv(path + "/" + "refs_evolgath.csv")

Compare the number of references that have been found with the keyword queries in keywords, titles and abstracts

In [3]:
df_lengths = pd.DataFrame({'df_name': ['refs_emcoop', 'refs_emcoop_ab', 'refs_emcoop_titles',
                                       'refs_evolcoop', 'refs_evolcoop_ab', 'refs_evolcoop_titles',
                                       'refs_evolgath', 'refs_evolgath_ab', 'refs_evolgath_titles'],
                            'length': [len(refs_emcoop), len(refs_emcoop_ab), len(refs_emcoop_titles),
                                       len(refs_evolcoop), len(refs_evolcoop_ab), len(refs_evolcoop_titles),
                                       len(refs_evolgath), len(refs_evolgath_ab), len(refs_evolgath_titles)]})

# Display the table
df_lengths

                df_name  length
0           refs_emcoop     699
1        refs_emcoop_ab   16090
2    refs_emcoop_titles    2031
3         refs_evolcoop   15674
4      refs_evolcoop_ab   77236
5  refs_evolcoop_titles   16204
6         refs_evolgath   63925
7      refs_evolgath_ab   72287
8  refs_evolgath_titles    6698

Most references found by querying the abstracts of the citing papers. "evolution of cooperation" in abstracts results in the most references found.
In the following, we are considering only the unique item ids of the cited references.

In [11]:
# Loop through dfs and count the number of unique cited ids
results = {}

for name, df in [('refs_emcoop', refs_emcoop),
                 ('refs_emcoop_ab', refs_emcoop_ab),
                 ('refs_emcoop_titles', refs_emcoop_titles),
                 ('refs_evolcoop', refs_evolcoop),
                 ('refs_evolcoop_ab', refs_evolcoop_ab),
                 ('refs_evolcoop_titles', refs_evolcoop_titles),
                 ('refs_evolgath', refs_evolgath),
                 ('refs_evolgath_ab', refs_evolgath_ab),
                 ('refs_evolgath_titles', refs_evolgath_titles)]:
    num_unique_cited_ids = df['item_id_cited'].nunique()
    results[name] = num_unique_cited_ids

# Convert the dictionary to a dataframe
df_results = pd.DataFrame.from_dict(results, orient='index', columns=['num_unique_cited_ids'])

# Display the dataframe
df_results

                      num_unique_cited_ids
refs_emcoop                            540
refs_emcoop_ab                        8123
refs_emcoop_titles                    1697
refs_evolcoop                         9359
refs_evolcoop_ab                     31549
refs_evolcoop_titles                  8382
refs_evolgath                        40554
refs_evolgath_ab                     50561
refs_evolgath_titles                  5869

Most cited references for every df

In [17]:
for name, df in [('refs_emcoop', refs_emcoop),
                 ('refs_emcoop_ab', refs_emcoop_ab),
                 ('refs_emcoop_titles', refs_emcoop_titles),
                 ('refs_evolcoop', refs_evolcoop),
                 ('refs_evolcoop_ab', refs_evolcoop_ab),
                 ('refs_evolcoop_titles', refs_evolcoop_titles),
                 ('refs_evolgath', refs_evolgath),
                 ('refs_evolgath_ab', refs_evolgath_ab),
                 ('refs_evolgath_titles', refs_evolgath_titles)]:
    top_5 = df['item_id_cited'].value_counts().head(5)
    print(f'Top 5 cited item IDs for {name}:')
    print(top_5)

Top 5 cited item IDs for refs_emcoop:
WOS:A1981LG07300011    10
WOS:000248365100001     8
WOS:A1992JV77700063     8
WOS:000242624600030     7
WOS:000231503600068     7
Name: item_id_cited, dtype: int64
Top 5 cited item IDs for refs_emcoop_ab:
WOS:A1992JV77700063    180
WOS:000242624600030    148
WOS:000248365100001    131
WOS:A1981LG07300011    117
WOS:000231503600068    115
Name: item_id_cited, dtype: int64
Top 5 cited item IDs for refs_emcoop_titles:
WOS:A1981LG07300011    16
WOS:000242624600030    14
WOS:A1992JV77700063    14
WOS:000231503600068    10
WOS:000220697200041    10
Name: item_id_cited, dtype: int64
Top 5 cited item IDs for refs_evolcoop:
WOS:A1981LG07300011    124
WOS:000242624600030    115
WOS:A1992JV77700063    108
WOS:A1971J062800002     90
WOS:A19647207B00008     80
Name: item_id_cited, dtype: int64
Top 5 cited item IDs for refs_evolcoop_ab:
WOS:A1992JV77700063    639
WOS:000242624600030    619
WOS:A1981LG07300011    496
WOS:000248365100001    445
WOS:A19647207B00008    392
Name: item_id_cited, dtype: int64
Top 5 cited item IDs for refs_evolcoop_titles:
WOS:A1992JV77700063    146
WOS:000242624600030    136
WOS:A1981LG07300011    124
WOS:A19647207B00008     96
WOS:000248365100001     87
Name: item_id_cited, dtype: int64
Top 5 cited item IDs for refs_evolgath:
ZOOREC:ZOOR12000000712    298
WOS:A1973R135800019       287
WOS:A1978FK24700004       269
WOS:000242624600030       231
WOS:A1992JV77700063       203
Name: item_id_cited, dtype: int64
Top 5 cited item IDs for refs_evolgath_ab:
ZOOREC:ZOOR12000000712    366
WOS:A1973R135800019       305
WOS:A1978FK24700004       266
WOS:A1992JV77700063       173
WOS:000248365100001       166
Name: item_id_cited, dtype: int64
Top 5 cited item IDs for refs_evolgath_titles:
WOS:A1973R135800019       44
ZOOREC:ZOOR12000000712    35
WOS:A1978FK24700004       28
WOS:A1991FL33800003       23
WOS:A1981LG07300011       13
Name: item_id_cited, dtype: int64

Import df from SQL database after searching for top 5 cited IDs - only seven different IDs in total, most cited ones are very similar no matter which keyword was queried

In [20]:
top_5_sql = pd.read_csv(path + "/" + "top_5_refs.csv")
top_5_sql

,item_id,fk_repository_history,pubyear,pubmonth,wos_pubdate_online,item_title,scopus_item_title_non_eng,first_author,doi,pmid,...,cit_all_years,fncr_3_years,fncr_5_years,fncr_all_years,hc_3_years,hc_5_years,hc_all_years,oa_status,oa_url,scopus_oa_licence
0,WOS:A1992JV77700063,6385592,1992,10.0,NaN,EVOLUTIONARY GAMES AND SPATIAL CHAOS,NaN,"NOWAK, MA",10.1038/359826a0,NaN,...,2551,1.991616,2.073945,27.619726,"{""(Multidisciplinary Sciences,0.0)""}","{""(Multidisciplinary Sciences,0.0)""}","{""(Multidisciplinary Sciences,1.0)""}",NaN,NaN,NaN
1,WOS:000220697200041,19502033,2004,4.0,NaN,Spatial structure often inhibits the evolution...,NaN,"Hauert, C",10.1038/nature02360,15074318.0,...,1015,2.770806,4.102762,6.194309,"{""(Multidisciplinary Sciences,1.0)""}","{""(Multidisciplinary Sciences,1.0)""}","{""(Multidisciplinary Sciences,1.0)""}",NaN,NaN,NaN
2,WOS:000231503600068,31345149,2005,8.0,NaN,Scale-free networks provide a unifying framewo...,NaN,"Santos, FC",10.1103/PhysRevLett.95.098104,16197256.0,...,1152,11.174894,19.001965,38.501816,"{""(\""Physics, Multidisciplinary\"",1.0)""}","{""(\""Physics, Multidisciplinary\"",1.0)""}","{""(\""Physics, Multidisciplinary\"",1.0)""}",NaN,NaN,NaN
3,WOS:A1981LG07300011,9051533,1981,NaN,NaN,THE EVOLUTION OF COOPERATION,NaN,"AXELROD, R",10.1126/science.7466396,7466396.0,...,4893,13.515266,15.807502,140.595100,"{""(Multidisciplinary Sciences,1.0)""}","{""(Multidisciplinary Sciences,1.0)""}","{""(Multidisciplinary Sciences,1.0)""}",NaN,NaN,NaN
4,WOS:000242624600030,48373462,2006,12.0,NaN,Five rules for the evolution of cooperation,NaN,"Nowak, Martin A.",10.1126/science.1133755,17158317.0,...,2948,2.962827,4.392919,7.993348,"{""(Multidisciplinary Sciences,1.0)""}","{""(Multidisciplinary Sciences,1.0)""}","{""(Multidisciplinary Sciences,1.0)""}",{green_accepted},NaN,NaN
5,WOS:000248365100001,76665812,2007,7.0,NaN,Evolutionary games on graphs,NaN,"Szabo, Gyoergy",10.1016/j.physrep.2007.04.004,NaN,...,1926,8.878192,9.681626,11.527409,"{""(\""Physics, Multidisciplinary\"",1.0)""}","{""(\""Physics, Multidisciplinary\"",1.0)""}","{""(\""Physics, Multidisciplinary\"",1.0)""}",{green_submitted},NaN,NaN
6,WOS:A1991FL33800003,33553053,1991,5.0,NaN,EVOLUTIONARY GAMES IN ECONOMICS,NaN,"FRIEDMAN, D",10.2307/2938222,NaN,...,712,10.940960,11.416456,23.151010,"{""(Statistics & Probability,1.0)"",""(Economics,...","{""(Statistics & Probability,1.0)"",""(Economics,...","{""(Statistics & Probability,1.0)"",""(Economics,...",{green_submitted},NaN,NaN

refs_emcoop
refs_emcoop_ab
refs_emcoop_titles
refs_evolcoop
refs_evolcoop_ab
refs_evolcoop_titles
refs_evolgath
refs_evolgath_ab
refs_evolgath_titles